<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	{% block title %}<title>Servicios en la nube</title> {% endblock title %}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <style>
		body{
			background-color:cornflowerblue;
			font-family: 'Times New Roman', Times, serif;
		}
		.card-title{
			color: white;
		}
		.card-text{
			color: white;
		}
    </style>    
</head>
<body>
<br>
</br>
	<div class="container">
	  <div class="row">
		<div class="col-sm-6">
		  <div class="card text-center bg-primary mb-3">
			<div class="card-body">
			  <h5 class="card-title">Pagina de Postres</h5>
			  <p class="card-text">Al inicio de la pagina aparecera la lista de postres</p>
			  <a href="/listarpostre" class="btn btn-light">Postre Listar</a>
			</div>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="card text-center bg-secondary mb-3">
			<div class="card-body">
			  <h5 class="card-title">Pagina de Pizza</h5>
			  <p class="card-text">Al inicio de la pagina aparecera la lista de pizzas</p>
			  <a href="/listarpizza" class="btn btn-light">Pizza Listar</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<script type="text/javascript">
	</script>
	{% block js %}
	{% endblock js %}
</body>
</html>

